# Node
node_modules/

# PHP
/vendor/
/.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
/dist/
/build/

# Logs
*.log

# Coverage
coverage/

# Misc
*.bak
*.tmp

# Laravel
/storage/
/public/storage/
.phpunit.result.cache
Homestead.json
Homestead.yaml

# Composer
composer.lock

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
/test-results/
